@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgb(180, 22, 22), rgb(218, 123, 15));
    background-color: transparent;
}

h1 {
    margin: 1.2pc;
    font-family: 'Diplomata SC', cursive;
    font-size: 27px;
    float: left;
}

#nav-bar {
    text-align: right;
    margin: 20px 0;
    width: 90%;
    padding: 20px 20px;
}

#nav-bar a {
    text-decoration: none;
    color: black;
    margin: 15px;
    margin-top: -1px;
    font-size: 28px;
    display: inline-block;
    animation: under 3s ease-in;
}

#nav-bar a:hover {
    color: white;
    text-decoration: underline;
}

@keyframes under {
    10% {}
    
}

 /*
 .img {
    background-color: red;
} 
*/

#wel {
    padding: 1.7pc;
    border: none;
    border-radius: 1.4rem;
    margin-left: 9pc;
    cursor: pointer;
    font-size: 2pc;
    font-family: 'Diplomata SC', cursive;
    color: rgb(3, 83, 3);
    background-color: lightslategrey;

}

.top-bun {
    width: 29%;
    height: 12%;
    background-color: orange;
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-left: 10pc;
    margin-bottom: -6pc;
}

.sesame {
    width: 5%;
    height: 15%;
    background-color: ghostwhite;
    border-radius: 20% 90%;
    margin-top: 40px;
    margin-left: 10pc;
    margin-bottom: 5pc;
}

.Top {
    font-size: 95px;
    font-weight: 900;
    color: rgb(113, 5, 5);
    margin-left: 10pc;
    margin-bottom: -12pc;
}

.Bottom {
    font-size: 156px;
    font-weight: 900;
    color: rgb(113, 5, 5);
    margin-left: 10pc;
    margin-bottom: -0.3pc;
}

.bottom-bun {
    width: 29%;
    height: 12%;
    background-color: orange;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 5rem;
    border-bottom-right-radius: 5rem;
    margin-left: 10pc;
    float: left;
}

.intro {
    font-size: 30px;
    text-align: end;
    letter-spacing: 1.4;
    line-height: 1.9;
    margin-top: -10pc;
    margin-right: 10pc;
    color: ghostwhite;
    font-weight: 900;
}

.table {
    margin: 9pc 0;
    padding: 20px;
    margin-left: 20pc;
    border-radius: 2rem;
    background-color: antiquewhite;
}

.table tr {
    padding: 20px;
    font-size: 2.2pc;
}

.table tr td {
    padding: 20px;
}

.table tr:nth-child(even) {
    background-color: aqua;
}

.table tr:nth-child(odd) {
    background-color: brown;
}

.bk {
    margin: 25px;
    border-radius: 10%;
}

h4 {
    font-size: 1.6pc;
    font-family: 'Diplomata SC', cursive;
    margin: 1pc;
    border: 0.7pc solid firebrick;
    width: 40%;
    text-align: center;

}